<!-- views/partials/movieCard.hbs -->

<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{title}}</h3>
      <p class="card-text">Director: {{director}}</p>
      <p class="card-text">Rate: {{rate}}</p>
      <a href="/movies/{{_id}}">See details</a>
    </div>
  </div>
</div>
